@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-main: "Roboto", system-ui;
  --animate-fadein: fade linear 1s;
  --shadow-dark: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.img {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  box-shadow: var(--color-contact) 0px 8px 24px;
  border: 2px solid var(--color-contact);
  position: relative;
  transition: all 1s ease-in-out;
  animation: alpha 8s ease-in-out infinite;
}
@keyframes alpha {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* fade animation */
@keyframes fade {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animate-risat {
  animation: fadeR 1s ease-in forwards;
}
.animate-salla {
  animation: fadeS 1.5s ease-in forwards;
}

@keyframes fadeR {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeS {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

button {
  cursor: pointer;
}
