@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-main: "JetBrains Mono", system-ui;

  --color-dark: #161513;
  --color-nav: #222222;
  --color-contact: #191919;
  --color-card: #2a2a2a;
  --color-secondary: #c5c5c5;
  --color-blue: #5badff;

  --color-softOrange: #ff8660;
  --color-boldOrange: #d5491d;

  --shadow-box: var(--color-dark) 0px 2px 8px 0px;

  --animate-fadein: fade linear 1s;
}

.img {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  box-shadow: var(--color-dark) 0px 8px 24px;
  border: 2px solid var(--color-dark);
  position: relative;
  transition: all 1s ease-in-out;
  animation: alpha 8s ease-in-out infinite;
}
@keyframes alpha {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* fade animation */
@keyframes fade {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animate-risat {
  animation: fadeR 1s ease-in forwards;
}
.animate-salla {
  animation: fadeS 1.5s ease-in forwards;
}

@keyframes fadeR {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeS {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

button {
  cursor: pointer;
}
